<ion-header>
  <ion-toolbar>
    <ion-title>IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Poids</ion-label>
    <ion-select placeholder="Select One" class="30-200">

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button fill="clear" expand="full">C'est parti</ion-button>

</ion-content>
