<ion-header>
  <ion-toolbar>
    <ion-title>Collation après le sport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="sportFaible()">
    <ion-card-content>Sport de faible intensité</ion-card-content>
  </ion-card>
  <ion-card (click)="sportMoyen()">
    <ion-card-content>Sport d'intensité moyenne</ion-card-content>
  </ion-card>
  <ion-card (click)="sportIntense()">
    <ion-card-content>Sport d'intensité élevée</ion-card-content>
  </ion-card>
</ion-content>
