

ion-card-title{
  color: #3CDBA4;
  font-size: 20px;
}
h1{
  text-align: center;
  color: #3CDBA4;
}
ion-content{
  color: #3CDBA4;
  font-size: 10px;
}
ion-button{
  background-color: #3CDBA4;
}
ion-content {
  background-color: lightgray;
}
ion-card{
  background-color: white;
}

.back {
  color: #3CDBA4;
}
