.contain {
  background-color: lightgray;
}

h1{
  text-align: center;
  color: #3CDBA4;
  background-color: #fafafa;
  border-radius: 5px;

}

.main {
  margin-top: 150px;
}

#button {
  margin-top: 10px;
}