<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-title>
        <ion-col col-2> <img  src="../../../assets/icon/icon.png" width="20%"></ion-col>
      </ion-title>
      <ion-col col-5></ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content padding class="contain" color="lightgrey">

  <ion-card routerLink="/tabs/matin">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Matin</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="glycemie-card ion-text-center" >
      <ion-row>
        <ion-col col-4></ion-col> <ion-col col-4><img  src="../../../assets/icon/breakfast.svg"></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/tabs/midi">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Midi</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="glycemie-card ion-text-center" >
      <ion-row>
        <ion-col col-4></ion-col> <ion-col col-4><img src="../../../assets/icon/food.svg"></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card routerLink="/tabs/soir">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Soir</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="glycemie-card ion-text-center" >
      <ion-row>
        <ion-col col-4></ion-col> <ion-col col-4><img  src="../../../assets/icon/serving-dish.svg"></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/tabs/collation-soirée">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Collation de soirée</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="glycemie-card ion-text-center" >
      <ion-row>
        <ion-col col-4></ion-col> <ion-col col-4><img  src="../../../assets/icon/milky.svg"></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
