<ion-header>
  <ion-toolbar>
    <ion-title>Repas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>

    <ion-card (click)="getMatin()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Matin</ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item>

    <ion-card (click)="getMidi()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Midi</ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item>

    <ion-card (click)="getSoir()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Soir</ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item>

    <ion-card (click)="getCollation()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Collation de soirée</ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>
