ion-card{

  background-color: white;


}
.glycemie-card img{
  width: 100px;


}

ion-card-title{
  text-align: center;
  color: #42403F;


}




.navbar{
  background-color: white;
  text-align: center;

}
.navbar h1{
  color: #3CDBA4;



}
.navbar img{
  padding-top: 10px;


}
.contain{
  margin: auto;
  text-align: center;
  background-color: lightgray;

}


.categorie{
  background-color: white;
}



