<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-title>
        <ion-col col-2><img src="../../assets/icon/logoshort.png" width="100px"></ion-col>
      </ion-title>
      <ion-col col-5></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="contain" color="darkgrey">
  <ion-card routerLink="/tabs/indexGlycemie">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Glycemie</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="glycemie-card ion-text-center" >
      <ion-row>
        <ion-col col-4></ion-col> <ion-col col-4><img  src="../../assets/icon/calorie.png"  ></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card routerLink="/tabs/repas">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Idées repas</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="recettes-card">
      <ion-row>
        <ion-col col-4></ion-col><ion-col col-4><img src="../../assets/icon/icon.png"></ion-col><ion-col col-4></ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/tabs/recommandations">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Conseils</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="conseil-card">
      <ion-row>
        <ion-col col-4></ion-col><ion-col col-4><img src="../../assets/icon/diet.png"></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
