<ion-header>
  <ion-toolbar>
    <ion-title>
      Repas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>

    <ion-card (click)="goIndex()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Vérifier l'indice glycémique d'un aliment</ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item>
    <ion-card (click)="goRepas()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Idées recettes</ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item>
    <ion-card (click)="goRecommandation()">
      <ion-card-title><ion-icon name="nutrition"></ion-icon></ion-card-title>
      <ion-card-content>Conseils</ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>
