<ion-header>
  <ion-toolbar>
    <ion-title>
      HappyMhealth
    </ion-title>
    <ion-icon name="construct" (click)="action()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">

      <ion-card-header>
        <ion-card-subtitle>{{currentDate | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
        <ion-card-title>Résumé de la journée</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
