<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-title>
        <ion-col col-2><img src="../../assets/icon/home.svg" width="20%"></ion-col>
      </ion-title>
      <ion-col col-5></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="contain" color="lightgray">
    <ion-card class="welcome-card">

      <ion-card-header>
        <ion-card-subtitle>{{currentDate | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
        <ion-card-title>Bienvenue sur Diab'Health !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cette application a pour but de vous aider à suivre votre régime alimentaire spécial. Vous pouvez aussi
        avoir des informations sur votre activité sportive. Si vous créez un compte vous pourrez enregistrer des favoris ainsi qu'avoir
        un suivi de votre taux de glycémie.</p>
      </ion-card-content>
    </ion-card>

    <div class="outils">
      <ion-button routerLink="/tabs/imc">Calculer votre indice de masse corporelle</ion-button>
      <ion-button routerLink="/tabs/img">Calculer votre indice de masse grasse</ion-button>
    </div>

</ion-content>
