<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/tools.png" width="30px">
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="contain">


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>IMC</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="img-card">
      <ion-img class="img" src="../../assets/icon/scale.png"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Capteur cardiaque</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="img-card">
      <ion-img src="../../assets/icon/heartbeat.png"></ion-img>
    </ion-card-content>
  </ion-card>




</ion-content>
