<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Retour</ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-title>
        <ion-col col-2><img src="../../assets/icon/tools.png" width="30px"></ion-col>
      </ion-title>
      <ion-col col-5></ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content class="contain" color="darkgrey">

<a href="#">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>IMC</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="imc-card ion-text-center" >
      <ion-row>
        <ion-col col-4></ion-col> <ion-col col-4><img  src="../../assets/icon/scale.png"  ></ion-col><ion-col col-4></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</a>

 <a href="">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h1>Capteur cardiaque</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content class="recettes-card">
      <ion-row>
        <ion-col col-4></ion-col><ion-col col-4><img src="../../assets/icon/heartbeat.png"></ion-col><ion-col col-4></ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
 </a>

</ion-content>

