.contain {
  margin: auto;
  text-align: center;
  background-color: lightgray;
}

.profil {
  background-color: #fafafa;
}

.favoris {
  background-color: #fafafa;
}

ion-card {
  text-align: center;
}