
ion-card{

  background-color: white;


}
.imc-card img{
  width: 100px;


}
.recettes-card img{
  width: 100px;

}
.conseil-card img{
  width: 100px;

}
ion-card-title{
  text-align: center;
  color: #3CDBA4;


}




.navbar{
  background-color: white;
  text-align: center;

}
.navbar h1{
  color: #3CDBA4;



}
.navbar img{
  padding-top: 10px;


}
.contain{
  margin: auto;
  text-align: center;
  background-color: lightgray;

}
.basket{
  margin: 250px;
}

.categorie{
  background-color: white;
}

