<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-title>
        <ion-col col-2><img src="../../assets/icon/resume.svg" width="20%"></ion-col>
      </ion-title>
      <ion-col col-5></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="contain" color="lightgrey">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="profil" *ngIf="auth.authenticated">
    <ion-card-header>

      <ion-card-title><ion-row><ion-col col-4></ion-col><ion-col col-4><img src="../../assets/icon/user.svg"></ion-col><ion-col col-4></ion-col> </ion-row></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

          <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>Nom</ion-col>
                <ion-col *ngFor="let users of user | async">{{users.nom}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          </ion-item>
        <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>Prénom</ion-col>
                <ion-col *ngFor="let users of user | async">{{users.prenom}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>Date de naissance</ion-col>
                <ion-col *ngFor="let users of user | async">{{users.age | date: 'dd/MM/yyyy'}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
        <ion-item-sliding>
        <ion-item detail lines="full">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>Poids</ion-col>
                <ion-col *ngFor="let users of user | async">{{users.poids}} kg</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="goModifPoids()">Modifier</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
        <ion-item detail lines="full">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>Taille</ion-col>
                <ion-col *ngFor="let users of user | async">{{users.taille}} m</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="goModifTaille()">Modifier</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="auth.authenticated" class="favoris">
    <ion-card-header>
      <ion-card-title><ion-row><ion-col col-4></ion-col><ion-col col-4><img src="../../assets/icon/tint-drop.svg"></ion-col><ion-col col-4></ion-col></ion-row></ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item-sliding *ngFor="let glycemies of glycemie | async">
        <ion-item detail lines="full">
          {{glycemies.date | date: 'dd/MM/yyyy'}}&nbsp; {{glycemies.heure}} &nbsp;{{glycemies.taux}}mmol/l

        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteSuivi(glycemies.id)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-row><ion-col><ion-button routerLink="/tabs/ajout-glycemie">Ajouter</ion-button></ion-col><ion-col><ion-button routerLink="/tabs/suivi-glycemie">Voir plus</ion-button></ion-col></ion-row>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="auth.authenticated" class="favoris">
    <ion-card-header>
      <ion-card-title><ion-row><ion-col col-4></ion-col><ion-col col-4><img src="../../assets/icon/star2.svg"></ion-col><ion-col col-4></ion-col></ion-row></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-sliding *ngFor="let fav of favoris | async">
        <ion-item detail lines="full">{{fav.label}} (IG: {{fav.IG}})</ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteFavoris(fav.id)">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>
  <div margin-top="40px">
  <ion-button routerLink="/tabs/inscription" *ngIf="!auth.authenticated" size="large">Inscription</ion-button>
  </div>
  <div margin-top="40px">
  <ion-button routerLink="/tabs/connexion" *ngIf="!auth.authenticated" size="large">Connexion</ion-button>
  </div>
  <ion-button (click)="logout()" *ngIf="auth.authenticated" size="full">Déconnexion</ion-button>
</ion-content>
