.contain {
  margin: auto;
  text-align: center;
  background-color: lightgray;
}

ion-content {
  background-color: lightgray;
}

h1{
  text-align: center;
  color: #3CDBA4;
  background-color: #fafafa;
  border-radius: 5px;
}