#basket{
  margin-bottom:50px ;
  margin-top: 50px;
  width: 150px;
}

ion-item{
  color: #3CDBA4;

}
h1{
  text-align: center;
  color: #3CDBA4;
  background-color: #fafafa;
  border-radius: 5px;

}
ion-content{
  background-color: lightgray;
  border-color: #3CDBA4;
}

.back {
  color: #3CDBA4;
}