<ion-content  padding>


  <ion-img src="../../assets/icon/logo.png"></ion-img>
  <ion-list [lines]="'full'">
    <ion-list-header>
      <h1><ion-label>Connexion</ion-label></h1>
    </ion-list-header>

    <ion-item>
      <ion-input placeholder="Email" type="email">
      </ion-input>
    </ion-item>

    <ion-item>

      <ion-input placeholder="Mot de passe" type="password"></ion-input>
    </ion-item>


    <ion-button class="signup" color="" fill="clear" expand="full" >
      connexion
    </ion-button>

  </ion-list>
  <ion-card-subtitle style="align-items: center"> <a href="tab2">Pas encore inscrit ?</a> </ion-card-subtitle>
</ion-content >
