<ion-content  padding>


  <ion-img src="../../assets/icon/logo.png"></ion-img>
  <ion-list [lines]="'full'">
    <ion-list-header>
      <h1><ion-label>Connexion</ion-label></h1>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="required">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>


    <ion-button class="signup" color="" fill="clear" expand="full" >
      connexion
    </ion-button>

  </ion-list>
  <ion-card-subtitle> <a href="tab3">Pas encore inscrit ?</a> </ion-card-subtitle>
</ion-content >
