ion-list {
  margin-top: 20%;
}

ion-item {
  padding-bottom: 10%;

}

ion-card {
  height: 100px;
  background-color: white;
}

h1{
  text-align: center;
  color: #42403F;
  background-color: #fafafa;
  border-radius: 5px;

}

.contain{
  margin: auto;
  text-align: center;
  background-color: lightgray;

}

ion-card-content{
  text-align: center;
  color: #42403F;


}




