.back {
  color: #3CDBA4;
}

.contain {
  background-color: lightgray;
}

.main {
  margin-top: 80px;
}

h1 {
  text-align: center;
  color: #3CDBA4;
  background-color: #fafafa;
  border-radius: 5px;
}